.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: fixed;
  width: 100%;
  height: 65px;
  z-index: 10;
}

.portfolio:hover {
  color: yellow;
}
.header-bg {
  /* background-color: rgba(0, 0, 0, 0.85); */
  background-color: #443c68;
  transition: 0.5s;
}

.nav-menu {
  display: flex;
}
.nav-menu li {
  padding: 0 1rem;
}
.nav-menu a {
  font-size: 1.2rem;
  font-weight: 500;
}

.hamburger {
  display: none;
}

div.nav-container a {
  color: #fff;
  text-decoration: none;
  font: 20px Raleway;
  margin: 0px 10px;
  padding: 10px 10px;
  position: relative;
  z-index: 0;
  cursor: pointer;
}

/* Top and Bottom borders go out */
div.topBotomBordersOut a:before,
div.topBotomBordersOut a:after {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 2px;
  background: #fff;
  content: "";
  opacity: 0;
  transition: all 0.3s;
}

div.topBotomBordersOut a:before {
  top: 0px;
  transform: translateY(10px);
}

div.topBotomBordersOut a:after {
  bottom: 0px;
  transform: translateY(-10px);
}

div.topBotomBordersOut a:hover:before,
div.topBotomBordersOut a:hover:after {
  opacity: 1;
  transform: translateY(0px);
}

/* 1040px */
@media screen and (max-width: 680px) {
  .nav-menu {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 0;
    left: -100%;
    z-index: -3;
    transition: 0.3s;
  }
  .nav-menu.active {
    left: 0;
  }
  .nav-menu li {
    padding: 1rem 0;
  }
  .nav-menu li a {
    font-size: 2rem;
  }
  .hamburger {
    display: initial;
  }
  div.topBotomBordersOut a:before,
  div.topBotomBordersOut a:after {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #fff;
    content: "";
    opacity: 0;
    transition: all 0.3s;
  }

  div.topBotomBordersOut a:before {
    top: 0px;
    transform: translateY(10px);
  }

  div.topBotomBordersOut a:after {
    bottom: 0px;
    transform: translateY(-10px);
  }

  div.topBotomBordersOut a:hover:before,
  div.topBotomBordersOut a:hover:after {
    opacity: 1;
    transform: translateY(0px);
  }
}
