.hero-img {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  height: 40vh;
  position: relative;
}

.hero-img::before {
  content: "";
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5_EXV_DFGFLyVYqna5metI5QSQ55S92NxFV2BJvDu1Fv8bgzYmrTwNXx9NHntGt4Usbs&usqp=CAU");
  background-size: cover;
  background-position: center top;
  height: 100%;
  width: 100%;
  opacity: 0.4;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.heading {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-img h1 {
  font-size: 2.4rem;
}
.hero-img p {
  font-size: 1.4rem;
  text-align: center;
}

.content {
  position: relative;
}

.content h2 {
  color: #fff;
  font-weight: bold;
  font-size: 5em;
  position: absolute;
  transform: translate(-50%, -50%);
}




@media screen and (max-width: 640px) {
  .hero-img h2 {
    font-size: 3rem;
  }
}
